rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Only allow access to the hold_logs collection
    match /hold_logs/{document} {
      allow read, write: if true;
    }
    
    // Deny access to all other collections
    match /{document=**} {
      allow read, write: if false;
    }
  }
} 